In [2]:

import pandas as pd
import numpy as np
import matplotlib as mlt
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
from pandas_profiling import ProfileReport

/Users/idaklimanova/ds_bootcamp/new/.EDA/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
/var/folders/1j/0lvqpz4n6ts8d6j87tv4rlw00000gn/T/ipykernel_90186/2274191625.py:1: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  from pandas_profiling import ProfileReport

In [4]:
retail = pd.read_csv('_data.csv', dtype={'Метро': 'string','Дом':'string','Площадь, м2':'string','Количество комнат':'string','Ремонт':'string'})

In [5]:
retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23368 entries, 0 to 23367
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                23368 non-null  int64
 1   ID  объявления            23368 non-null  int64
 2   Количество комнат         22327 non-null  string
 3   Тип                       23368 non-null  object
 4   Метро                     22053 non-null  string
 5   Адрес                     23368 non-null  object
 6   Площадь, м2               23368 non-null  string
 7   Дом                       23368 non-null  string
 8   Парковка                  9951 non-null   object
 9   Цена                      23368 non-null  object
 10  Телефоны                  23368 non-null  object
 11  Описание                  23368 non-null  object
 12  Ремонт                    20613 non-null  string
 13  Площадь комнат, м2        14458 non-null  object
 14  Балкон                    15390 non-null  object
 15  Окна                      16755 non-null  object
 16  Санузел                   20696 non-null  object
 17  Можно с детьми/животными  17272 non-null  object
 18  Дополнительно             23011 non-null  object
 19  Название ЖК               5848 non-null   object
 20  Серия дома                2163 non-null   object
 21  Высота потолков, м        11206 non-null  float64
 22  Лифт                      17868 non-null  object
 23  Мусоропровод              12846 non-null  object
 24  Ссылка на объявление      23368 non-null  object
dtypes: float64(1), int64(2), object(17), string(5)
memory usage: 4.5+ MB

In [292]:
profile = ProfileReport(retail)
profile.to_file('report.html')

Summarize dataset: 100%|██████████| 44/44 [00:11<00:00,  3.84it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:09<00:00,  9.01s/it]
Render HTML: 100%|██████████| 1/1 [00:02<00:00,  2.43s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 321.25it/s]

работа с метро

In [6]:
#retail['Метро2'] = retail['Метро'].apply(lambda x: x.split())
new_metro = retail['Метро'].str.split(' ',expand=True)

In [7]:
new_metro[1].unique()

<StringArray>
[       'Смоленская',         'Арбатская',     'Кропоткинская',
   'Александровский',          'Киевская',        'Библиотека',
        'Боровицкая',       'Баррикадная', 'Краснопресненская',
                <NA>,
 ...
         'Лиговский',     'Ломоносовская',      'Елизаровская',
            'Парнас',        'Приморская',       'Театральная',
           'Павшино',      'Бухарестская',         'Дунайская',
        'Волковская']
Length: 309, dtype: string

In [8]:
#retail.insert(loc =0,'станция',value = new_metro.iloc('2'))

In [9]:

new_room = retail['Количество комнат'].str.split(' ',expand=True)

In [10]:
new_house = retail['Дом'].str.split(' ',expand=True)

In [11]:
new_house= new_house[0].str.split('/')

In [12]:
new_house

0         [5, 16,]
1         [5, 16,]
2          [5, 16]
3           [5, 6]
4        [12, 26,]
           ...
23363     [10, 14]
23364     [5, 18,]
23365      [5, 5,]
23366     [8, 23,]
23367     [6, 23,]
Name: 0, Length: 23368, dtype: object

In [13]:
floor = retail['Дом'].apply(lambda x: x.split('/')[0]).astype(int)    #берем  этаж чистый

In [14]:
sq = retail['Площадь, м2'].apply(lambda x: x.split('/')[0]).astype(float)      # берем площадь жилая чистая

In [15]:
sq

0        200.0
1        198.0
2        200.0
3        170.0
4         58.0
         ...
23363     35.0
23364     38.7
23365     43.1
23366     52.5
23367     90.0
Name: Площадь, м2, Length: 23368, dtype: float64

In [16]:
sq.isna().unique()

array([False])

In [18]:
new_price = retail['Цена'].str.split(' ', expand=True)      # берем - цена аренды чистая
new_price[0] = new_price[0].astype("float")
new_price[0]

0        500000.0
1        500000.0
2        500000.0
3        400000.0
4        225000.0
           ...
23363     42000.0
23364     45000.0
23365     50000.0
23366     55000.0
23367     57000.0
Name: 0, Length: 23368, dtype: float64

In [19]:
p4m = new_price[0] / retail['Площадь, м2'].apply(lambda x: x.split('/')[0]).astype('float')   # берем - цена за метр квадратынй
p4m.round(2)

0        2500.00
1        2525.25
2        2500.00
3        2352.94
4        3879.31
          ...
23363    1200.00
23364    1162.79
23365    1160.09
23366    1047.62
23367     633.33
Length: 23368, dtype: float64